*{
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
}
body{
    margin: 0;
}
.root{
    margin: 0;
    background-color: #0e0b0b;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 60% 30%;
    grid-template-columns: 100%;
}
.header{
    z-index: 160;
    background: chocolate;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px 0 whitesmoke;
}
.header>div{
    font-size: 3vw;
    color:black;
    display: flex;
    flex-direction: row;
}
.header > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-size: 1.6vw;

}
button {
    box-shadow: 0 0 20px 5px grey;
    border-radius: 5px;
    background: navajowhite;
    font-size: 2vw;
    font-weight: bold;
    border: 1px solid black;
    padding: 0.3vw 2vw;
}
button:hover{
    cursor: pointer;
    background: #7d4d04;
}
button:active{
    background: navajowhite;
}
footer{
    background: chocolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.canvas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-center:center;
}
.canvas > div {
    margin:20px;
    height: 90%;
}
.keyboard{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.button {
    cursor: pointer;
    margin: 1vh;
    width: 4.5vh;
    height: 4.5vh;
    border: 1px solid black;
    border-radius: 1vh;
    background: transparent;
    color:navajowhite;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 whitesmoke;
}
img {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 20px 0 whitesmoke;
}
.hintContainer{
    justify-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #322d2d;
    height: 30%;
    color: wheat;
    font-size: 1.5vw;
    box-shadow: 0 5px 10px 0 whitesmoke;
    z-index: 10;
}
.inputContainer{
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    box-shadow: 0 0 10px 0 whitesmoke;
}
.other{
    margin: 20px 10px 0 10px;
    padding: 20px 10px 0 10px;
    width:100px;
    height: 60%;
    font-size: 4vw;
    background-color: transparent;
    color:black;
    border:none;
}
.char{
    text-align: center;
    margin: 0 0.5vw 0 0.5vw;
    width:4vw;
    min-height: 50px;
    font-size: 4vw;
    background-color: transparent;
    color:black;
    border-width:0 0 5px 0;
    border-color: black;
    border-style: none none solid none;
}